.calculator {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	width: 100%;
	background: #242424;
	border: 1px solid #FFF;
	margin: 0 auto;
}

.display {
	width: 100%;
	height: 60px;
	background: #FFF;
}
